.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 200px;
  height: 250px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 210px;
  height: 190px;
  border-radius: 5px;
  margin-top: 5px;
}
.nav-links{
  min-width: 1330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}
input{
    padding-left: 8px;
    width: 750px;
    height: 40px;
    border-radius: 8px;
    outline-color: red;
    border: 2px solid #ccc
}
h2{
  padding-left: 20px;
  color: #fff;
}
.nav{
  width: 60px;
  height: 20px;
  color: #fff;
  padding-right: 10px;
}
h1{
  color: #000;
}
.img{
  width: 1330px;
  padding-bottom: 20px;
}
